.btn-custom {
    height: 1rem !important;
    width: 1rem !important;
    border-radius: 9999px !important;
    padding: 0px !important;
    background-color: var(--sec-color) !important;
    border: none !important;
}

.btn-custom.active{
    background-color: var(--acc-color)!important;
}

.bord-card-carousel{
    border: 3px solid var(--det-color);
}