.btn-custom {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 9999px !important;
    padding: 0px !important;
    background-color: var(--acc-color) !important;
    border: none !important;
}

.btn-custom:hover{
    background-color: var(--det-color);
}

.bord-card-carousel{
    border: 2px solid var(--det-color);
}