.border-card{
    border: 3px solid var(--acc-color);
}

.bg-modal{
    background-color: var(--det-color) !important;
}

.btn-modal{
    background-color: var(--acc-color) !important;
    color: var(--sec-color) !important;
}