.bg-banner{
    background-image: url(../assets/img/hero-img.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (min-width:768px){
    .bg-banner{
        background-image: url(../assets/img/hero-img.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width:767px) {
    .bg-banner{
        background-image: url(../assets/img/hero-img.jpg);
        background-position: cover;
        background-position: center;
    }
}

.scroll-container {
    overflow: hidden;  /* Nasconde qualsiasi parte dell'elemento che esce fuori dai limiti */
    width: 100%;       /* Imposta la larghezza massima del contenitore */
    position: relative;
  }

  .scroll-content {
    display: flex;
    align-items: center;
    width: 200%; /* Doppia larghezza per il contenuto duplicato */
  }  
  
  .scroll-track {
    display: flex;
    animation: scroll 20s linear infinite; /* Animazione lineare e infinita */
  }
  
  .scroll-item {
    flex: 0 0 auto; /* Gli elementi non si ridimensionano */
    width: 400px; /* Larghezza degli elementi */
    height: 100%;
  }
  
  .scroll-image {
    height: 220px;
    width: 1500px;
  }
  
  .scroll-item img {
    width: 100%;
    height: auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);        /* Inizio dell'animazione */
    }
    100% {
      transform: translateX(-50%);     /* Termina a metà, poiché abbiamo duplicato gli elementi */
    }
  }

  .animation{
    animation: movimentoAltoBasso 2s infinite alternate;
  }

  @keyframes movimentoAltoBasso {
    0% {
        transform: translateY(0); /* Posizione iniziale */
    }
    100% {
        transform: translateY(20px); /* Sposta di 100px in basso */
    }
}

  .txt-border{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--sec-color);
  }

  .txt-border2{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--det-color);
  }

  .btn-order{
    background-color: var(--acc-color) !important;
    border: none;
    color: var(--sec-color)
  }

  .btn-app{
    border: 2px solid var(--acc-color);
    /* background-color: var(--acc-color) */
  }

  .border-card{
    border: 3px solid var(--acc-color);
  }
  