.bg-banner{
    background-image: url(../assets/img/hero.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (min-width:768px){
    .bg-banner{
        background-image: url(../assets/img/hero.png);
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width:767px) {
    .bg-banner{
        background-image: url(../assets/img/hero.png);
        background-position: cover;
        background-position: center;
    }
}

.bg-black-banner{
  background-color: black;
  opacity: 50%;
}

.text-banner{
  opacity: 100%;
  z-index: 999999;
}

.scroll-container {
    overflow: hidden;  /* Nasconde qualsiasi parte dell'elemento che esce fuori dai limiti */
    width: 100%;       /* Imposta la larghezza massima del contenitore */
    position: relative;
  }

  .scroll-content {
    display: flex;
    align-items: center;
    width: 200%; /* Doppia larghezza per il contenuto duplicato */
  }  
  
  .scroll-track {
    display: flex;
    animation: scroll 20s linear infinite; /* Animazione lineare e infinita */
  }
  
  .scroll-item {
    flex: 0 0 auto; /* Gli elementi non si ridimensionano */
    width: 400px; /* Larghezza degli elementi */
    height: 100%;
  }
  
  .scroll-image {
    height: 220px;
    width: 1500px;
  }
  
  .scroll-item img {
    width: 100%;
    height: auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);        /* Inizio dell'animazione */
    }
    100% {
      transform: translateX(-50%);     /* Termina a metà, poiché abbiamo duplicato gli elementi */
    }
  }

  .animation{
    animation: movimentoAltoBasso 2s infinite alternate;
  }

  @keyframes movimentoAltoBasso {
    0% {
        transform: translateY(0); /* Posizione iniziale */
    }
    100% {
        transform: translateY(20px); /* Sposta di 100px in basso */
    }
}

  .txt-border{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--acc-color);
  }

  .txt-border2{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--det-color);
  }

  .txt-border3{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--sec-color);
  }

  .btn-order{
    background-color: var(--acc-color) !important;
    border: none;
    color: var(--det-color)
  }

  .btn-app{
    border: 2px solid var(--acc-color);
    /* background-color: var(--sec-color) */
  }

  .border-card{
    border: 3px solid var(--acc-color);
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  .about-us-animation{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .carousel-section-animation{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  @keyframes appear2 {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .iphone-mockup-animation{
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  @keyframes appear3 {
    from {
      opacity: 0;
      transform: translateX(250px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .card-animation{
    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  @keyframes appear4 {
    from {
      opacity: 0;
      transform: translateX(-250px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .card-animation2{
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .title-animation{
    color: transparent;
    -webkit-text-stroke: 2px var(--det-color);
    background-image: url(../assets/img/back.png);
    background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
  }

  @keyframes back{
    100%{
      background-position: 2000px 0;
    }
  }
  
  .text-shadow-custom{
    color: var(--det-color);
    text-shadow: 2px 1px var(--sec-color);
  }

  .txt-scroll{
    color: var(--det-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--sec-color);
  }
  
  /* STEPPER ANIMATION */
  @keyframes appear5 {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .stepper-animation{
    animation: appear5 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  
  /* CAROUSEL ANIMATION */
  @keyframes appear6 {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .carousel-animation{
    animation: appear6 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }